.searchContainer {
  width: 40vh;
  float: left;
  position: relative;
  max-height: 50vh;
}

mat-form-field {
  width: 100%;
}

#searchResult {
  /* min-height: 100px; */
}

.searchSpinner {
  margin: 0 10px;
}

#spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-selection-list {
  max-height: 400px;
  overflow: auto;
}

ng-template {
  width: 40vh;
}

.searchMenuContainer {
  float: left;
}


.endDateButton {
   float: right;
   height: 2vh;
 }


.startDateButton {
  float: left;
  height: 2vh;
  position: absolute;
}


