<div class="searchContainer" #searchContainer>
  <div id="searchContent">
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title>Search</mat-card-title>
        <mat-card-subtitle>You can search for elements in the database here.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-select [(ngModel)]="filter">
          <mat-option [value]="label.name" *ngFor="let label of filterLabels | sortFilterLabelBy">{{label.name}}</mat-option>
        </mat-select>
        <mat-form-field class="search-form-field" (submit)="searchNodes()">
          <mat-label>Search for</mat-label>
          <input matInput type="text" [(ngModel)]="searchText" (keyup.enter)="searchNodes()" #searchInput>
          <button mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
            <mat-icon>close</mat-icon>
          </button>
          <button mat-button matSuffix mat-icon-button  (click)="searchNodes()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <div id="searchResult">
          <mat-selection-list #nodes [multiple]="false" *ngIf="showSearchResult">
            <mat-list-option *ngFor="let node of searchResult" [value]="node" (contextmenu)="showContextMenu(node)">
              <app-cytoscape-node-detail [node]="node"></app-cytoscape-node-detail>
            </mat-list-option>
          </mat-selection-list>
          <div id="spinnerContainer" *ngIf="!showSearchResult">
            <mat-progress-spinner  class="searchSpinner"
                                   color="primary" mode="indeterminate" diameter="50">
            </mat-progress-spinner>
          </div>
        </div>

      </mat-card-content>
      <!--    <mat-card-actions>-->
      <!--      <button mat-button>LIKE</button>-->
      <!--      <button mat-button>SHARE</button>-->
      <!--    </mat-card-actions>-->
    </mat-card>
  </div>
  <div class="searchMenuContainer">
    <ng-template #searchMenuContainer></ng-template>
  </div>
</div>
