.eventEmitter {
  visibility: hidden;
}


.nodeSelectionContainer {
  margin-left: 1%;
  float: left;
  width: 45vh;
}


button {
  float: left;
  margin-right: 2%;
}

p {
  float: left;
  font-weight: bold;
  font-size: 13px;
  margin-top: 12px;
}

