<div id="cytoscapeContextMenu">
  <mat-selection-list>
    <mat-list-item>
      <button (click)="toggleInfocard()">Infocard</button>
    </mat-list-item>
    <mat-list-item *ngIf="nodeExists">
      <button (click)="addNode()">Add</button>
    </mat-list-item>
    <mat-list-item *ngIf="!nodeExists">
      <button (click)="removeNode()">Remove</button>
    </mat-list-item>
  </mat-selection-list>
  <div class="informationContainer">
    <ng-template #informationContainer></ng-template>
  </div>
</div>
