<div id="nodeTab" class="col s12">
    <div id="nodeInformation">
        <div>
            <h4>Node Information:</h4>
        </div>
        <div id="nodeInformationContent">

        </div>
    </div>
    <hr class="customhr">
    <div id="nodeRelations">
        <div>
            <h4>Node Relations:</h4>
        </div>
        <div id="nodeRelationContent">

        </div>
    </div>
</div>