<div id="searchTab" class="col s12">
    <div>
        <h4>Search for Nodes</h4>
    </div>
    <div>
        <form  id="searchNodes">
            <div class="input-field" id="search-form">
                <input id="search" type="search"  required>
                <label class="label-icon" for="search"><i class="material-icons" id="icon">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
    <hr class="customhr">
    <div class="foundNodes" id="foundNodes">

    </div>
</div>