<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Intergraph</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>

        #cy {
            width: 80%;
            height: 100%;
            position: absolute;
            left: 20%;
        }
        .floatingbox {
            float: left;
            width: 20%;
            height: 100%;
            position: absolute;
            border-right: ridge #969696;
            top: 0;

        }

        .collapsible-body{
            padding-left: 2px;
            padding-right: 2px;
            background-color: #dbdbdb;
            /*display: flex;*/
        }

        .collapsible-body > ul {
            max-height: 500px;
            overflow: auto;
        }

        .collapsible-header:hover {
            background-color: #b4b4b4;
        }

        .collapsible-body > .collapsible-header {
            background-color: #00b0ff;
        }

        .row {
            width: 100%;

        }

        .row .col {
            padding: 0;
        }



        ::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        .tabs .tab a{
            color: #ffffff;
        } /*Black color to the text*/

        .tabs .tab a:hover {
            background-color:#eee;
            color:#000;
        } /*Text color on hover*/

        .tabs .tab a.active {
            background-color:#888;
            color: #000;
        } /*Background and text color when a tab is active*/

        .tabs .indicator {
            background-color:#000;
        } /*Color of underline*/

        h4 {
            text-align: center;
        }

        .shadow {
            -moz-box-shadow:    inset 0 0 10px #000000;
            -webkit-box-shadow: inset 0 0 10px #000000;
            box-shadow:         inset 0 0 10px #000000;
        }


        .loader {
            border: 10px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #353535;
            width: 60px;
            height: 60px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            margin: 0 auto;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        #searchNodes {
            margin: 0 auto;
            width: 80%;
        }



        hr.customhr {
            width: 90%;
            border: 0;
            height: 1px;
            margin-bottom: 25px;
            margin-top: 25px;
            background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
            background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
            background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
            background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        }

        #nodeInformationContent {
            padding: 10px;
        }

    </style>
<body>

<%- include('partials/menu') -%>

<div id="cy">
    <%- regesta %>
</div>

<script src="js/main.js"></script>
<script type = "text/javascript"
        src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src = " https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js">
</script>
</body>
</html>