#cytoscapeContextMenu {
  min-width: 200px;
  min-height: 230px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.9);
  color: #fff;
}

#cytoscapeContextMenu * {
  font-size: 1rem;
}

h5 {
  padding: 0.25rem;
  border-bottom: 1px solid #888;
  color: #888;
  font-weight: normal;
}

button {
  display: block;
  width: 100%;

  border: 0;
  padding: 0.25rem;

  font-size: 1rem;
  text-align: left;
  text-decoration: none;

  background-color: transparent;
  color: inherit;
  opacity: 0.5;
  cursor: pointer;
}

button:hover {
  opacity: 1;
}
