.informationContent {
  height: 40vh;
  overflow-y: auto!important;
  box-sizing: border-box;
  overflow-x: hidden!important;
}

.information-card {
  width: 50vh;
}


.back-button {
  float: left;
  width: 100%;
}

.add-button {
  float: right;
  width: 100%;
  background: green;
  color: white;
}

.remove-button {
  float: right;
  width: 100%;
}

.nav-content {
  padding-bottom: 5px;
  box-sizing: border-box;
}

.propertyContent {
  padding: 0 16px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mat-tab-body-content {
}
