<mat-card class="information-card">
  <mat-card-header (click)="toggleProperty()">
    <mat-card-title>{{displayToken}}</mat-card-title>
    <mat-card-subtitle>
      {{node?.data.id}} - {{node.classes}}
      <span class="node-color-container" [style]="{'background-color': applyColorForNode(node.classes)}"></span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">description</mat-icon>
          data
        </ng-template>
        <div class="informationContent">
          <div *ngIf="!showData else property">
            <mat-list>
              <mat-list-item *ngFor="let property of properties | keyvalue"
                             class="dataContent" (click)="toggleProperty(property)">
                <div class="keyData">{{property.key}} </div>
                <div [ngClass]="{'truncated-node-value': property.value.toString().length > lenTrunc, 'node-value-container': true}">
                {{property.value | trunc: lenTrunc}}</div>
              </mat-list-item>
            </mat-list>
          </div>
          <ng-template #property>
            <div class="propertyContent">
              <h2>{{propertyToDisplay.key}}</h2>
              {{propertyToDisplay.value}}
            </div>
          </ng-template>
        </div>
      </mat-tab>
<!--      <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--          <mat-icon class="example-tab-icon">mediation</mat-icon>-->
<!--          by Class-->
<!--        </ng-template>-->
<!--        <div class="informationContent">-->
<!--          <mat-selection-list  [multiple]="false">-->
<!--            <mat-list-option *ngFor="let node of relatedNodesByClass"-->
<!--                             id="relationContent">-->

<!--              <app-cytoscape-node-detail [node]="node"></app-cytoscape-node-detail>-->
<!--            </mat-list-option>-->
<!--          </mat-selection-list>-->
<!--        </div>-->
<!--      </mat-tab>-->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">mediation</mat-icon>
          Relations by Type
        </ng-template>
        <div class="informationContent">
          <mat-selection-list  [multiple]="false">
            <mat-list-option *ngFor="let relation of relationsByType | keyvalue"
                             id="relationContents">
              {{relation.key}}  ({{relation.value}})
            </mat-list-option>
          </mat-selection-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <div class="nav-content"></div>
</mat-card>
